.tableContainer {
    height: 100%;
    width: 100%;
    margin: 2em auto 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
    height: 600px;
    overflow: auto;
}

.tableContainer p {
	height: 1em;
	color: white;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .1em;
	line-height: 1em;
	
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.iconBtn {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    margin: auto;
}

.reactIcon {
    color: white;
    font-size: 2em;
    cursor: pointer;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 15px;
    color: #fff;
  }

  th {
    text-align: left;
  }

  thead th {
    background-color: rgb(255, 255, 255, 0.2);
	backdrop-filter: blur(.5em);
	-webkit-backdrop-filter: blur(.5em);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  tbody td {
    height: 4em;
    width: fit-content;
    align-items: center;
  }

  tbody td:hover:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    margin: 2em 0;
  }

  .addBtn {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  gray;
	text-transform: uppercase;
	padding: .2em 2em;
	border-radius: 2em;
	color: black;
	background-color: white;
	box-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .addBtn:hover {
	cursor: pointer;
  }

  .addBtn:active {
	box-shadow: none;
  }