.pageContainer {
    width: 100%;
	height: 100%;
  }

.notFound {
	margin-top: 8em;
	width: 100%;
	text-align: center;
}

.notFound > h1 {
	margin: 0;
	padding: 0;
	font-size: 4em;
	letter-spacing: .1em;
	font-weight: 350;
}

.notFound > h2 {
	letter-spacing: .1em;
	font-weight: 450;
}

.text > p {
	width: 100%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}