* {
    box-sizing: border-box;
}

/*Large Desktop*/

.aboutPage {
	height: 100%;
	width: 100%;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 2s;
	line-height: 1em;
}

.inputError {
	border: 3px solid rgb(160, 0, 0);
}

.aboutTitleContainer {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	height: fit-content;
}

.aboutTitle {
	height: 1em;
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);

}

.aboutTitle:after {
	content: '|';
	animation: blink .6s linear infinite;
}

.allDescriptions {
	margin: 6em 10em;
}

.descriptionContainer {
	margin-bottom: 0em;
}

.descriptionImage {
	width: 20em;
	height: 20em;
	margin-top: 2rem;
	margin-right: 2rem;
	border-radius: 50%;
	float: left;
	shape-outside: circle();
}

.aboutDescription {
    text-align: left;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.descriptionContainer2 {
	margin: 4em 0em;
	margin-bottom: 1em;;
	display: flex;
	justify-content: cenlefttlefter;
}

.aboutDescription2 {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.descriptionContainer3 {
	margin: 4em 0em;
	margin-bottom: 1em;;
	display: flex;
	justify-content: center;
}

.aboutDescription3 {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.sliderTitle_tech {
    text-align: center;
	color: white;
	margin: 0;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
    padding: .5em;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
	
	opacity: 1;
	filter: blur(0);
}

.sliderTitle_tech span span {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sliderTitle_tech:before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	left: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.15em .1em .2em  black;
  }
  .sliderTitle_tech:after {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	right: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.1em .1em .1em  black;
  }

.techSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider_tech {
    margin-top: 8em;
    margin-bottom: 4em;
    position: relative;
    width: 15em;
    height: 10em;
    transform-style: preserve-3d;
    animation: rotate 75s linear infinite;
}

.imageContainer_tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*72deg)) translateZ(18em);
}

.sliderImage_tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 10em;
    object-fit: cover;
    transition: 2s;
}

.ovalShadow_tech {
	height: .5em;
	width: 6em;
	margin-left: 2em;
	background-color: rgba(0, 0, 0, 0.348);
	border-radius: 100%;
	margin-top: 13em;
	transform-style: preserve-3d;
    transition: 2.5s;
}

.imageContainer_tech:hover .ovalShadow_tech {
	margin-left: 4em;
	width: 3em
}

.imageContainer_tech:hover .sliderImage_tech {
	transform: translateY(-5em) scale(1.2);
}

.sliderTitle_code {
    text-align: center;
	color: white;
	margin: 0;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
    padding: .5em;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
	
	opacity: 1;
	filter: blur(0);
}

.sliderTitle_code span span {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sliderTitle_code:before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	left: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.15em .1em .2em  black;
  }
  .sliderTitle_code:after {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	right: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.1em .1em .1em  black;
  }

.codeSlider {
	margin-bottom: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_code {
    margin-top: 8em;
    margin-bottom: 2em;
    position: relative;
    width: 20em;
    height: 10em;
    transform-style: preserve-3d;
    animation: rotate 75s linear infinite;
}

.imageContainer_code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(22.5em);
}

.sliderImage_code {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 10em;
    object-fit: cover;
    transition: 2s;
}

.ovalShadow_code {
	height: .5em;
	width: 8em;
	margin-left: 1em;
	background-color: rgba(0, 0, 0, 0.348);
	border-radius: 100%;
	margin-top: 13em;
	transform-style: preserve-3d;
    transition: 2s;
}

.imageContainer_code:hover .ovalShadow_code {
	width: 4em;
	margin-left: 3em;
}

.imageContainer_code:hover .sliderImage_code {
	transform: translateY(-5em) scale(1.2);
}

.contactFormContainer {
	position: relative;
	margin-bottom: 4em;
	width: 100%;
}

.contactForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactTitle {
    text-align: center;
	color: white;
	margin: 0;
	margin: 2em auto;
	margin-bottom: 0em;
	width: 95%;
    padding: .5em;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
	
	opacity: 1;
	filter: blur(0);
}

.contactTitle span span {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.contactTitle:before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	left: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.15em .1em .2em  black;
  }
  .contactTitle:after {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	right: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.1em .1em .1em  black;
  }

  .contactDescriptionContainer {
	margin: 4em 20em;
	display: flex;
	justify-content: center;
}

.contactDescription {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

  .emailContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;
	
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1.25s;
	transition-delay: .75s;
  }

  .hideEmail {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 2s;
  }

  .emailTitle {
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .emailInput {
	font-size: 2em;
	padding: .2em;
	border-radius: .25em;
	box-shadow: -.15em .1em .2em  black;
  }

  .subjectContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;
	
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1.5s;
	transition-delay: .5s;
  }

  .hideSubject {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.75s;
	transition-delay: .25s;
  }

  .subjectTitle {
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .subjectInput {
	font-size: 2em;
	padding: .2em;
	border-radius: .25em;
	box-shadow: -.15em .1em .2em  black;
  }

  .messageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;

	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1.75s;
	transition-delay: .25s
  }

  .hideMessage {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.5s;
	transition-delay: .5s;
  }

  .messageTitle {
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .messageInput {
	font-size: 2.5em;
	padding: .2em;
	border-radius: .25em;
	resize: none;
	box-shadow: -.15em .1em .2em  black;
  }

  .messageInput::-webkit-scrollbar {
	border-radius: .25em;
	width: 10px;
  }
  
  .messageInput::-webkit-scrollbar-track {
	border-radius: .25em;
	background: none;
  }
  
  .messageInput::-webkit-scrollbar-thumb {
	border-radius: .25em;
	background: linear-gradient(45deg, purple, darkblue, purple) 0 0 / 1000% no-repeat;
  }

  .hideError {
	opacity: 0;
	z-index: 1;
	filter: blur(5px);
	transform: translateY(-100%);
	transition: all 1s;
	position: absolute;
	position: absolute;
	top: 95.5%;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto;
	border-radius: .5em;
	background-color: rgb(160, 0, 0);
	width: 45em;
	height: fit-content;
	padding: 1em;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-shadow: -.15em .1em .2em  black;

  }

  .hideError span {
	color: white;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .errorMessage {
	opacity: 1;
	z-index: 1;
	filter: blur(0px);
	transform: translateY(0);
	z-index: 1;
	position: absolute;
	top: 95.5%;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto;
	border-radius: .5em;
	background-color: rgb(160, 0, 0);
	width: 45em;
	height: fit-content;
	padding: 1em;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-shadow: -.15em .1em .2em  black;
  }

  .errorMessage span {
	color: white;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .btnContainer {
	display: flex;
	justify-content: center;
	margin-top: 1em;

	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 2s;
  }

  .hideBtn {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.25s;
	transition-delay: .75s;
  }

  .sendEmailBtn {
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  gray;
	text-transform: uppercase;
	font-size: 2em;
	padding: .2em 3em;
	border-radius: 2em;
	color: black;
	background-color: white;
	box-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .sendEmailBtn:hover {
	cursor: pointer;
  }

  .sendEmailBtn:active {
	box-shadow: none;
  }

  .hideConfirmation {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto;
	width: 50%;
	border-radius: 1em;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	
	opacity: 0;
	filter: blur(5px);
	transform: translateX(100%);
	transition: all 1.5s;
  }

  .showConfirmation {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto;
	width: 50%;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	
	
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1.5s;
	transition-delay: .75s;
  }

  .confirmationTitle {
	padding: 2em;
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .confirmationText {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
	padding: 2em;
  }

  /*Medium Desktop*/

  @media screen and (max-width: 1538px) {

	.allDescriptions {
		margin: 6em 5em;
	}

	.sliderTitle_tech {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 95%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_tech:before {
		content: "";
		display: block;
		width: 25%;
		height: 5px;
		background: white;
		left: 25px;
		top: 50%;
		position: absolute;
		box-shadow: -.15em .1em .2em  black;
	  }
	  .sliderTitle_tech:after {
		content: "";
		display: block;
		width: 25%;
		height: 5px;
		background: white;
		right: 25px;
		top: 50%;
		position: absolute;
		box-shadow: -.1em .1em .1em  black;
	  }

	.sliderTitle_code {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 95%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_code:before {
		content: "";
		display: block;
		width: 25%;
		height: 5px;
		background: white;
		left: 25px;
		top: 50%;
		position: absolute;
		box-shadow: -.15em .1em .2em  black;
	  }
	  .sliderTitle_code:after {
		content: "";
		display: block;
		width: 25%;
		height: 5px;
		background: white;
		right: 25px;
		top: 50%;
		position: absolute;
		box-shadow: -.1em .1em .1em  black;
	  }
	
	.contactTitle {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 95%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.contactTitle:before {
		content: "";
		display: block;
		width: 25%;
		height: 5px;
		background: white;
		left: 25px;
		top: 50%;
		position: absolute;
		box-shadow: -.15em .1em .2em  black;
	  }
	  .contactTitle:after {
		content: "";
		display: block;
		width: 25%;
		height: 5px;
		background: white;
		right: 25px;
		top: 50%;
		position: absolute;
		box-shadow: -.1em .1em .1em  black;
	  }
	
	  .contactDescriptionContainer {
		margin: 4em 10em;
		display: flex;
		justify-content: center;
	}
	
	  .emailContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 65%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .subjectContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 65%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .messageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 65%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }

	  .hideError {
		opacity: 0;
		z-index: 1;
		filter: blur(5px);
		transform: translateY(-100%);
		transition: all 1s;
		position: absolute;
		position: absolute;
		top: 95.5%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 45em;
		height: fit-content;
		padding: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	
	  }
	
	  .hideError span {
		color: white;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .errorMessage {
		opacity: 1;
		z-index: 1;
		filter: blur(0px);
		transform: translateY(0);
		z-index: 1;
		position: absolute;
		top: 95.5%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 45em;
		height: fit-content;
		padding: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .errorMessage span {
		color: white;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
  }


  /*Small Desktops*/

  @media screen and (max-width: 1194px) {

	.allDescriptions {
		margin: 6em 2em;
	}

	.aboutDescription {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1.5em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(3.5deg);
	}
	
	.aboutDescription2 {
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1.5em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(3.5deg);
	}
	
	.aboutDescription3 {
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1.5em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(3.5deg);
	}

	.sliderTitle_tech {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 95%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_tech:before {
		content: "";
		display: block;
		width: 20%;
		height: 5px;
		background: white;
		left: 5px;
		top: 50%;
		position: absolute;
		box-shadow: -.15em .1em .2em  black;
	  }
	  .sliderTitle_tech:after {
		content: "";
		display: block;
		width: 20%;
		height: 5px;
		background: white;
		right: 5px;
		top: 50%;
		position: absolute;
		box-shadow: -.1em .1em .1em  black;
	  }

	.sliderTitle_code {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 95%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_code:before {
		content: "";
		display: block;
		width: 20%;
		height: 5px;
		background: white;
		left: 5px;
		top: 50%;
		position: absolute;
		box-shadow: -.15em .1em .2em  black;
	  }
	  .sliderTitle_code:after {
		content: "";
		display: block;
		width: 20%;
		height: 5px;
		background: white;
		right: 5px;
		top: 50%;
		position: absolute;
		box-shadow: -.1em .1em .1em  black;
	  }
	
	.contactTitle {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 95%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.contactTitle:before {
		content: "";
		display: block;
		width: 20%;
		height: 5px;
		background: white;
		left: 5px;
		top: 50%;
		position: absolute;
		box-shadow: -.15em .1em .2em  black;
	  }

	  .contactTitle:after {
		content: "";
		display: block;
		width: 20%;
		height: 5px;
		background: white;
		right: 5px;
		top: 50%;
		position: absolute;
		box-shadow: -.1em .1em .1em  black;
	  }
	
	  .contactDescriptionContainer {
		margin: 4em 4em;
		display: flex;
		justify-content: center;
	}
	
	  .emailContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .subjectContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .messageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }

	  .hideError {
		opacity: 0;
		z-index: 1;
		filter: blur(5px);
		transform: translateY(-100%);
		transition: all 1s;
		position: absolute;
		position: absolute;
		top: 95.5%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 45em;
		height: fit-content;
		padding: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	
	  }
	
	  .hideError span {
		color: white;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .errorMessage {
		opacity: 1;
		z-index: 1;
		filter: blur(0px);
		transform: translateY(0);
		z-index: 1;
		position: absolute;
		top: 95.5%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 45em;
		height: fit-content;
		padding: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .errorMessage span {
		color: white;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
  }

  /*Tablets*/

  @media  screen and (max-width: 850px) {
	
	.allDescriptions {
		margin: 8em 1em;
		margin-bottom: 4em;
	}
	
	.descriptionImage {
		width: 20em;
		height: 20em;
		margin-top: 2rem;
		margin-right: 2rem;
		border-radius: 50%;
		float: left;
		shape-outside: circle();
	}
	
	.aboutDescription {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1.2em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(2.5deg);
	}
	
	.aboutDescription2 {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1.2em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(2.5deg);
	}
	
	.aboutDescription3 {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1.2em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(2.5deg);
	}
	
	.sliderTitle_tech {
		text-align: center;
		color: white;
		margin: 0;
		margin-top: 0em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_tech:before {
		display: none;
	  }
	  .sliderTitle_tech:after {
		display: none;
	  }
	
	.slider_tech {
		margin-top: 6em;
		margin-bottom: 4em;
		position: relative;
		width: 15em;
		height: 10em;
		transform-style: preserve-3d;
		animation: rotate 75s linear infinite;
	}
	
	.imageContainer_tech {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center;
		transform-style: preserve-3d;
		transform: rotateY(calc(var(--i)*72deg)) translateZ(13em);
	}
	
	.sliderImage_tech {
		position: absolute;
		top: 0;
		left: 0;
		width: 8em;
		height: 8em;
		object-fit: cover;
		transition: 2s;
	}
	
	.ovalShadow_tech {
		height: .5em;
		width: 4em;
		margin-left: 2em;
		background-color: rgba(0, 0, 0, 0.348);
		border-radius: 100%;
		margin-top: 13em;
		transform-style: preserve-3d;
		transition: 2.5s;
	}
	
	.imageContainer_tech:hover .ovalShadow_tech {
		margin-left: 4em;
		width: 3em
	}
	
	.imageContainer_tech:hover .sliderImage_tech {
		transform: translateY(-5em) scale(1.2);
	}
	
	.sliderTitle_code {
		text-align: center;
		color: white;
		margin: 0;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_code:before {
		display: none;
	  }
	  .sliderTitle_code:after {
		display: none;
	  }
	
	.codeSlider {
		margin-bottom: 4em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.slider_code {
		margin-top: 8em;
		margin-bottom: 2em;
		position: relative;
		width: 15em;
		height: 5em;
		transform-style: preserve-3d;
		animation: rotate 75s linear infinite;
	}
	
	.imageContainer_code {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center;
		transform-style: preserve-3d;
		transform: rotateY(calc(var(--i)*45deg)) translateZ(15em);
	}
	
	.sliderImage_code {
		position: absolute;
		top: 0;
		left: 0;
		width: 8em;
		height: 8em;
		object-fit: cover;
		transition: 2s;
	}
	
	.ovalShadow_code {
		height: .5em;
		width: 6em;
		margin-left: 1em;
		background-color: rgba(0, 0, 0, 0.348);
		border-radius: 100%;
		margin-top: 13em;
		transform-style: preserve-3d;
		transition: 2s;
	}
	
	.contactFormContainer {
		margin-bottom: 2em;
		width: 100%;
	}
	
	.contactForm {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.contactTitle {
		text-align: center;
		color: white;
		margin: 0;
		margin: 2em auto;
		margin-bottom: 0em;
		width: 100%;
		padding: .5em;
		font-weight: 700;
		font-size: 3.75em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.contactTitle:before {
		display: none;
	  }
	  .contactTitle:after {
		display: none;
	  }
	
	  .contactDescriptionContainer {
		margin: 4em 2.5em;
		display: flex;
		justify-content: center;
	}
	
	  .emailContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .subjectContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .messageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }

	  .hideError {
		opacity: 0;
		z-index: 1;
		filter: blur(5px);
		transform: translateY(-100%);
		transition: all 1s;
		position: absolute;
		top: 95.5%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 34em;
		height: fit-content;
		padding: .5em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	
	  }
	
	  .hideError span {
		color: white;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .errorMessage {
		opacity: 1;
		z-index: 1;
		filter: blur(0px);
		transform: translateY(0);
		position: absolute;
		top: 95.5%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 34em;
		height: fit-content;
		padding: .5em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .errorMessage span {
		color: white;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }

	  .hideConfirmation {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		width: 75%;
		border-radius: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		opacity: 0;
		filter: blur(5px);
		transform: translateX(100%);
		transition: all 1.5s;
	  }
	
	  .showConfirmation {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		width: 75%;
		border-radius: 1em;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
		transition: all 1.5s;
		transition-delay: .75s;
	  }
  }

  /*Phones*/

  @media screen and (max-width: 550px) {
	
	.aboutTitle {
		height: 1em;
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 2.75em;
		letter-spacing: .01em;
		line-height: 1em;
		
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	
	}
	
	.allDescriptions {
		margin: 6em 1em;
	}
	
	.descriptionImage {
		width: 14em;
		height: 14em;
		margin-top: 1rem;
		margin-right: 1rem;
		border-radius: 50%;
		float: left;
		shape-outside: circle();
	}
	
	.aboutDescription {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(1.5deg);
	}
	
	.descriptionContainer2 {
		margin: 3em 0em;
		margin-bottom: 1em;;
		display: flex;
		justify-content: cenlefttlefter;
	}
	
	.aboutDescription2 {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(1.5deg);
	}
	
	.descriptionContainer3 {
		margin: 3em 0em;
		margin-bottom: 0em;;
		display: flex;
		justify-content: center;
	}
	
	.aboutDescription3 {
		text-align: left;
		color: white;
		font-weight: 700;
		font-size: 1em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(1.5deg);
	}
	
	.sliderTitle_tech {
		text-align: center;
		color: white;
		margin: 0;
		margin-top: 0em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 0em;
		font-weight: 700;
		font-size: 2.75em;
		letter-spacing: .01em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_tech:before {
		display: none;
	  }
	  .sliderTitle_tech:after {
		display: none;
	  }
	
	.techSlider {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	
	.slider_tech {
		margin-top: 6em;
		margin-bottom: 4em;
		position: relative;
		width: 11.8em;
		height: 10em;
		transform-style: preserve-3d;
		animation: rotate 75s linear infinite;
	}
	
	.imageContainer_tech {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center;
		transform-style: preserve-3d;
		transform: rotateY(calc(var(--i)*72deg)) translateZ(10em);
	}
	
	.sliderImage_tech {
		position: absolute;
		top: 0;
		left: 0;
		width: 7em;
		height: 7em;
		object-fit: cover;
		transition: 2s;
	}
	
	.ovalShadow_tech {
		height: .3em;
		width: 4em;
		margin-left: 1.5em;
		background-color: rgba(0, 0, 0, 0.348);
		border-radius: 100%;
		margin-top: 11em;
		transform-style: preserve-3d;
		transition: 2.5s;
	}
	
	.imageContainer_tech:hover .ovalShadow_tech {
		margin-left: 2em;
		width: 3em
	}
	
	.imageContainer_tech:hover .sliderImage_tech {
		transform: translateY(-3em) scale(1.2);
	}
	
	.sliderTitle_code {
		text-align: center;
		color: white;
		margin: 0;
		margin-top: 1.5em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 0em;
		font-weight: 700;
		font-size: 2.75em;
		letter-spacing: .01em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.sliderTitle_code:before {
		display: none;
	  }
	  .sliderTitle_code:after {
		display: none;
	  }
	
	  .codeSlider {
		margin-bottom: 4em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.slider_code {
		margin-top: 6.5em;
		margin-bottom: 4em;
		position: relative;
		width: 11em;
		height: 5em;
		transform-style: preserve-3d;
		animation: rotate 75s linear infinite;
	}
	
	.imageContainer_code {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center;
		transform-style: preserve-3d;
		transform: rotateY(calc(var(--i)*45deg)) translateZ(10em);
	}
	
	.sliderImage_code {
		position: absolute;
		top: 0;
		left: 0;
		width: 6em;
		height: 6em;
		object-fit: cover;
		transition: 2s;
	}
	
	.ovalShadow_code {
		height: .3em;
		width: 4em;
		margin-left: 1em;
		background-color: rgba(0, 0, 0, 0.348);
		border-radius: 100%;
		margin-top: 11em;
		transform-style: preserve-3d;
		transition: 2s;
	}
	
	.imageContainer_code:hover .ovalShadow_code {
		width: 3em;
		margin-left: 1.5em;
	}
	
	.imageContainer_code:hover .sliderImage_code {
		transform: translateY(-3em) scale(1.2);
	}
	
	.contactTitle {
		text-align: center;
		color: white;
		margin: 0;
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 0em;
		font-weight: 700;
		font-size: 2.75em;
		letter-spacing: .01em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
		
		opacity: 1;
		filter: blur(0);
	}
	
	.contactTitle:before {
		display: none;
	  }
	  .contactTitle:after {
		display: none;
	  }
	
	  .contactDescriptionContainer {
		margin: 4em .5em;
		display: flex;
		justify-content: center;
	}
	
	.contactDescription {
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(1.5deg);
	}
	
	  .emailContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .emailTitle {
		color: white;
		margin: 0;
		width: 95%;
		padding: .5em;
		padding-left: 0;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .emailInput {
		font-size: 1.5em;
		padding: .2em;
		border-radius: .25em;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .subjectContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .subjectTitle {
		color: white;
		margin: 0;
		width: 95%;
		padding: .5em;
		padding-left: 0;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .subjectInput {
		font-size: 1.5em;
		padding: .2em;
		border-radius: .25em;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .messageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 2em;
	  }
	
	  .messageTitle {
		color: white;
		margin: 0;
		width: 95%;
		padding: .5em;
		padding-left: 0;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .messageInput {
		font-size: 1.5em;
		padding: .2em;
		border-radius: .25em;
		resize: none;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .messageInput::-webkit-scrollbar {
		border-radius: .25em;
		width: 10px;
	  }
	  
	  .messageInput::-webkit-scrollbar-track {
		border-radius: .25em;
		background: none;
	  }
	  
	  .messageInput::-webkit-scrollbar-thumb {
		border-radius: .25em;
		background: linear-gradient(45deg, purple, darkblue, purple) 0 0 / 1000% no-repeat;
		animation: move-background 60s ease infinite;
	  }

	  .hideError {
		opacity: 0;
		z-index: 1;
		filter: blur(5px);
		transform: translateY(-100%);
		transition: all 1s;
		position: absolute;
		top: 95%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 22.5em;
		height: fit-content;
		padding: .5em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	
	  }
	
	  .hideError span {
		color: white;
		font-weight: 700;
		font-size: .75em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .errorMessage {
		opacity: 1;
		z-index: 1;
		filter: blur(0px);
		transform: translateY(0);
		position: absolute;
		top: 95%;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		border-radius: .5em;
		background-color: rgb(160, 0, 0);
		width: 22.5em;
		height: fit-content;
		padding: .5em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		box-shadow: -.15em .1em .2em  black;
	  }
	
	  .errorMessage span {
		color: white;
		font-weight: 700;
		font-size: .75em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .btnContainer {
		display: flex;
		justify-content: center;
		margin-top: 1em;
	  }
	
	  .sendEmailBtn {
		font-weight: 700;
		font-size: 2.5em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  gray;
		text-transform: uppercase;
		font-size: 1.75em;
		padding: .2em 3em;
		border-radius: 2em;
		color: black;
		background-color: white;
		box-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }

	  .hideConfirmation {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		width:95%;
		border-radius: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		opacity: 0;
		filter: blur(5px);
		transform: translateX(100%);
		transition: all 1.5s;
	  }
	
	  .showConfirmation {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto; 
		margin-right: auto;
		width: 95%;
		border-radius: 1em;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
		transition: all 1.5s;
		transition-delay: .75s;
	  }

	  .confirmationTitle {
		padding: 2em;
		color: white;
		margin: 0;
		width: 95%;
		padding: .5em;
		padding-left: 0;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: .1em;
		line-height: 1em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
	  }
	
	  .confirmationText {
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1em;
		letter-spacing: .1em;
		line-height: 1.5em;
		text-shadow: -.15em .1em .2em  black;
		transform: rotateY(5deg) rotate(0deg) skew(5deg);
		padding: 2em;
	  }
  }

  /*Animations*/

  @keyframes move-background {
	0% {
		background-position: 0 30%, 0 0;
	}

	50% {
		background-position: 100% 70%, 0 0;
	}

	100% {
		background-position: 0 30%, 0 0;
	}

  }

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
	
}

@keyframes rotate {
    0% {
        transform: perspective(500em) rotateY(0deg)
    }

    100% {
        transform: perspective(500em) rotateY(360deg)
    } 
}