* {
    box-sizing: border-box;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
	line-height: 1em;
}

.aboutTitleContainer {
	margin-top: 2em;
	display: flex;
	justify-content: center;
	height: fit-content;
}

.aboutTitle {
	height: 1em;
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);

}

.aboutTitle:after {
	content: '|';
	animation: blink .6s linear infinite;
}

.allDescriptions {
	margin: 6em 15em;
}

.descriptionContainer {
	margin-bottom: 0em;
}

.descriptionImage {
	width: 20em;
	height: 20em;
	margin-top: 2rem;
	margin-right: 2rem;
	border-radius: 50%;
	float: left;
	shape-outside: circle();
}

.aboutDescription {
    text-align: left;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.descriptionContainer2 {
	margin: 4em 0em;
	margin-bottom: 1em;;
	display: flex;
	justify-content: cenlefttlefter;
}

.aboutDescription2 {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.descriptionContainer3 {
	margin: 4em 0em;
	margin-bottom: 1em;;
	display: flex;
	justify-content: center;
}

.aboutDescription3 {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

.sliderTitle_tech {
    text-align: center;
	color: white;
	margin: 0;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
    padding: .5em;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
	
	opacity: 1;
	filter: blur(0);
}

.sliderTitle_tech span span {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sliderTitle_tech:before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	left: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.15em .1em .2em  black;
  }
  .sliderTitle_tech:after {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	right: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.1em .1em .1em  black;
  }

.techSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider_tech {
    margin-top: 8em;
    margin-bottom: 4em;
    position: relative;
    width: 15em;
    height: 10em;
    transform-style: preserve-3d;
    animation: rotate 75s linear infinite;
}

.imageContainer_tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*72deg)) translateZ(18em);
}

.sliderImage_tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 10em;
    object-fit: cover;
    transition: 2s;
}

.ovalShadow_tech {
	height: .5em;
	width: 6em;
	margin-left: 2em;
	background-color: rgba(0, 0, 0, 0.348);
	border-radius: 100%;
	margin-top: 13em;
	transform-style: preserve-3d;
    transition: 2.5s;
}

.imageContainer_tech:hover .ovalShadow_tech {
	margin-left: 4em;
	width: 3em
}

.imageContainer_tech:hover .sliderImage_tech {
	transform: translateY(-5em) scale(1.2);
}

.sliderTitle_code {
    text-align: center;
	color: white;
	margin: 0;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
    padding: .5em;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
	
	opacity: 1;
	filter: blur(0);
}

.sliderTitle_code span span {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sliderTitle_code:before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	left: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.15em .1em .2em  black;
  }
  .sliderTitle_code:after {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	right: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.1em .1em .1em  black;
  }

.codeSlider {
	margin-bottom: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_code {
    margin-top: 8em;
    margin-bottom: 2em;
    position: relative;
    width: 20em;
    height: 10em;
    transform-style: preserve-3d;
    animation: rotate 75s linear infinite;
}

.imageContainer_code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(25em);
}

.sliderImage_code {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 10em;
    object-fit: cover;
    transition: 2s;
}

.ovalShadow_code {
	height: .5em;
	width: 8em;
	margin-left: 1em;
	background-color: rgba(0, 0, 0, 0.348);
	border-radius: 100%;
	margin-top: 13em;
	transform-style: preserve-3d;
    transition: 2s;
}

.imageContainer_code:hover .ovalShadow_code {
	width: 4em;
	margin-left: 3em;
}

.imageContainer_code:hover .sliderImage_code {
	transform: translateY(-5em) scale(1.2);
}

.contactFormContainer {
	margin-bottom: 4em;
	width: 100%;
}

.contactForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactTitle {
    text-align: center;
	color: white;
	margin: 0;
	margin: 2em auto;
	margin-bottom: 0em;
	width: 95%;
    padding: .5em;
    font-weight: 700;
    font-size: 3.75em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: translateX(0) rotateY(5deg) rotate(0deg) skew(5deg);
	
	opacity: 1;
	filter: blur(0);
}

.contactTitle span span {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.contactTitle:before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	left: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.15em .1em .2em  black;
  }
  .contactTitle:after {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background: white;
	right: 85px;
	top: 50%;
	position: absolute;
	box-shadow: -.1em .1em .1em  black;
  }

  .contactDescriptionContainer {
	margin: 4em 30em;
	display: flex;
	justify-content: center;
}

.contactDescription {
    text-align: center;
	color: white;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
	line-height: 1.5em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
}

  .emailContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;
  }

  .emailTitle {
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .emailInput {
	font-size: 2em;
	padding: .2em;
	border-radius: .25em;
	box-shadow: -.15em .1em .2em  black;
  }

  .subjectContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;
  }

  .subjectTitle {
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .subjectInput {
	font-size: 2em;
	padding: .2em;
	border-radius: .25em;
	box-shadow: -.15em .1em .2em  black;
  }

  .messageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;
  }

  .messageTitle {
	color: white;
	margin: 0;
	width: 95%;
    padding: .5em;
	padding-left: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  black;
	transform: rotateY(5deg) rotate(0deg) skew(5deg);
  }

  .messageInput {
	font-size: 2.5em;
	padding: .2em;
	border-radius: .25em;
	resize: none;
	box-shadow: -.15em .1em .2em  black;
  }

  .messageInput::-webkit-scrollbar {
	border-radius: .25em;
	width: 10px;
  }
  
  .messageInput::-webkit-scrollbar-track {
	border-radius: .25em;
	background: none;
  }
  
  .messageInput::-webkit-scrollbar-thumb {
	border-radius: .25em;
	background: linear-gradient(45deg, purple, darkblue, purple) 0 0 / 1000% no-repeat;
	animation: move-background 60s ease infinite;
  }

  .btnContainer {
	display: flex;
	justify-content: center;
	margin-top: 1em;
  }

  .sendEmailBtn {
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: .1em;
	line-height: 1em;
	text-shadow: -.15em .1em .2em  gray;
	text-transform: uppercase;
	font-size: 2em;
	padding: .2em 3em;
	border-radius: 2em;
	background-color: white;
	box-shadow: -.15em .1em .2em  black;
  }

  @keyframes move-background {
	0% {
		background-position: 30% 0, 0 0;
	}

	50% {
		background-position: 70% 100%, 0 0;
	}

	100% {
		background-position: 30% 0, 0 0;
	}

  }

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
	
}

@keyframes rotate {
    0% {
        transform: perspective(500em) rotateY(0deg)
    }

    100% {
        transform: perspective(500em) rotateY(360deg)
    } 
}