* {
    box-sizing: border-box;
}

.languageSliderTitle {
    text-align: center;
    font-weight: 500;
    font-size: 7em;
    letter-spacing: .1em;
    
}

.languageSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
    width: 30em;
    height: 20em;
    transform-style: preserve-3d;
    animation: rotate 75s linear infinite;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(35em);
}

.sliderImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 20em;
    object-fit: cover;
    transition: 2s;
}

@keyframes rotate {
    0% {
        transform: perspective(500em) rotateY(0deg)
    }

    100% {
        transform: perspective(500em) rotateY(360deg)
    } 
}